# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Ambiente
.env
venv/
.venv/

#results/*.csv
#results/*.json
#results/*.npy
#results/*.png
#results/*.pdf

# IDE
.vscode/
.idea/
results/legado/*

# Sistema
.DS_Store
Thumbs.db
.venv*